<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>{{ page_title }}</title>
</head>

<body>
    <div class="main">
        <div class="overlay">
            <div class="container">
                <h1 class="title">Game finished! </h1>
                <h2 class="sub">Thanks for playing the Riddle game... </h2>
                <br>
                <a href="/ "><h2 class="sub">I want to play again!</h2></a>
            </div>
        </div>



        <!-- FOOTER -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy;2018 Jonathan Bencomo</p>
                    </div>
                    <div class="col-md-6">
                        <p class="credit">A project for the Code Institute, Dublin - Ireland </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
